body {
  margin-left: 50px;
  margin-right: 50px;
}
.hr {
  width: 100%;
}
.comment-top-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.comment-top-header h2 {
  margin-right: 5px;
}
.comment-top textarea {
  resize: none;
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.comment-top #button {
  text-align: right;
}
.comment-top button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: rgb(116, 130, 143);
  background-color: rgb(190, 201, 212);
  font-weight: bold;
}
.comment-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
.comment-board-head {
  margin-top: 10px;
  display: flex;
  white-space: nowrap;
}
.comment-board-head #nickname {
  font-weight: bold;
  margin-right: 5px;
}
.comment-board-head #type {
  font-size: 90%;
  margin-right: 5px;
}
.comment-board-head #time {
  font-size: 70%;
}
.comment-board-head #profile img {
  width: 50px;
  margin-right: 10px;
}

.comment-board-body {
  margin: 20px;
  width: 100%;
}
.comment-board-body #text {
  white-space: nowrap;
}

.comment-board-foot {
  font-size: 100%;
  display: flex;
  margin-left: 10px;
}

.comment-board-foot #like {
  display: flex;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.comment-board-foot img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.comment-board-foot #comment {
  display: flex;
  white-space: nowrap;
  cursor: pointer;
}

.comment hr {
  background: rgb(218, 210, 211);
  height: 1px;
  border: 0;
}

.comment-foot {
  text-align: center;
  margin: 10px;
  font-size: 50px;
}
