ul {
  list-style: none;
  text-align: center;
  display: flex;
  margin-left: 920px;
  gap: 50px;
  font-size: larger;
}

h1 {
  text-align: center;
}
table {
  text-align: center;
  margin-left: 900px;
}
form {
  text-align: center;
}
